<!DOCTYPE html>
<html>
    <head>
        <title><%= full_title(yield(:title)) %></title>
        <%= stylesheet_link_tag "application", media: "all",
            "data-turbolinks-track" => true %>
        <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
        <%= csrf_meta_tags %>
        <%= render 'layouts/shim' %>
    </head>
    <body>
        <!-- for showing the devise login error message -->
        <% if notice %>
            <p class="notice"><%= notice %></p>
        <% end %>
        <% if alert %>
            <p class="alert"><%= alert %></p>
        <% end %>

        <%= render 'layouts/header' %>
        <div class="container">
            <%= yield %>
        </div>
        <%= render 'layouts/footer' %>
    </body>
</html>
